
  video {
    position: relative;
    left: 60%;
    transform: translate(-60%, -40%);
  }

.style {
    width: auto; 
    height: 100%; 
    margin-top: 100px; 
    margin-left: -150px;
}

p{
    position: absolute;
    text-align: center;
    color: white;
    padding: 50px;
}
