body {
    font-family: "Lato", sans-serif;
}

.sidenav {
    width: 130px;
    position: fixed;
    z-index: 1;
    top: 20px;
    left: 10px;
    padding: 8px 0;
}

.sidenav a {
    padding: 6px 8px 6px 16px;
    font-size: 25px;
    display: block;
}



.main {
    margin-left: 140px; 
    font-size: 28px; 
    padding: 0px 10px;
}

